$main-bg-color: #000000;
$main-font-color: #FFFFFF;

// popup
$popup-header: rgba(255, 79, 39, 0.9);
$popup-bg: rgba(87, 124, 153, 0.9);


// menu
$menu-background-color: rgba(83, 119, 89, 0.7);


// html elements
$elem-bg: rgba(117, 60, 255, .9);
$elem-accent: rgba(62, 119, 153, .9);

// aside menu
$aside-menu-width: 6vh;
$aside-menu-extended-width: 14vh;

// z-index levels
$z-base: 0;
$z-canvas: 100;
$z-canvas-overlayer: 1000;
$z-ui: 2000;