#visual studio files/flders
.vs/
bin/
obj/
packages/
*.suo
*.user


#project files
node_modules/
bower_components/
.idea/**
nbproject/
Scripts/generated/**
build/Output/**
.idea/
Scripts/
typings/
*.css

# ignore exceptions
!typings/index.d.ts
!typings/custom.d.ts